@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html, body {
    margin: 0 auto;
    padding: 0 0;
    font-family: Ubuntu, sans-serif;
}

.corJumbotron {
    background-color: #59BBEC;
}

.corJumbotronServicos {
    background-color: #FFFFFF;
}

.textoVantagensContratacaoServicos {
    text-align: center;
    font-size: 24px;
}

.tamanhoTextoMedio {
    font-size: 24px;
}

a {
    color: white;
}

.links-list-custom li {
    padding-top: 10px;
    padding-bottom: 10px;
}



@media screen and (max-width: 767px){
    h1, p {
        text-align: center;
    }

    .homeButtonPosition {
        text-align: center;
    }

    h1 {
        font-size: 48px;
    }
}

@media screen and (max-width: 767px) {
    #blocoVantagensServicos {
        height: 210vh;
        padding: 0 0;
    }

    .parceiros .card {
        margin-top: 10px;
    }
}

/* Animações */

.cardVantagensServicos {
	position: relative;
	top: 0;
	-webkit-transition: top 1s ease;
	-moz-transition: top 1s ease;
	-o-transition: top 1s ease;
	transition: top 1s ease;
}
.cardVantagensServicos:hover {
	top: 25px;
}

.cardServicos {
	position: relative;
	-webkit-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
	-moz-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
	-o-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
	transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}
.cardServicos:hover {
	color: #FFFFFF;
	background-color: #59BBEC;
}

