@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html, body {
    margin: 0 auto;
    padding: 0 0;
    font-family: Ubuntu, sans-serif;
}

.corJumbotron {
    background-color: #59BBEC;
}

.corJumbotronServicos {
    background-color: #FFFFFF;
}

.textoVantagensContratacaoServicos {
    text-align: center;
    font-size: 24px;
}

.tamanhoTextoMedio {
    font-size: 24px;
}

#logoEmpresa {
    width: 50em;
}



h1, p {
    text-align: center;
}


@media screen and (max-width: 767px){
    h1, p {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .alturaJumbotron {
        height: 40vh;
    }

    .alturaJumbotronServicos {
        height: 100vh;
    }

    .alturaJumbotronSobre {
        height: 80vh;
        padding: 5em 5em;
    }

    #blocoVantagensServicos {
        height: 100vh;
        padding: 5em 5em;
    }
}

@media screen and (max-width: 767px) {
    #blocoVantagensServicos {
        height: 150vh;
        padding: 0 0;
    }

    .parceiros .card {
        margin-top: 10px;
    }
}

/* Animações */

.cardServicos {
	position: relative;
	top: 0;
	-webkit-transition: top 1s ease;
	-moz-transition: top 1s ease;
	-o-transition: top 1s ease;
	transition: top 1s ease;
}
.cardServicos:hover {
	top: 25px;
}